/* css/style.css  this is how to get to it from inside other pages*/ 
nav{
  margin: 0px;
  padding: 0px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to (black) on hover */
li a:hover {
  background-color: #111;
}
footer {
  background-color: #acaaaa;
  padding: 2rem;
  border: 2px solid #000;
  text-align: center;
}
footer a {
  color: #3730ff;
  text-decoration: none;
  font-size: 1rem;
}
footer a:hover {
  border-bottom: 1px solid #ffffff;
}
